# Supabase
SUPABASE_URL=https://acapurizimtptybtjcbe.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFjYXB1cml6aW10cHR5YnRqY2JlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2MDQ3MzQsImV4cCI6MjA5MTE4MDczNH0.Rx1sjaN8nNLDo8Eenbi-P4y6dtxI5MM4GV3vaAonQ2o
SUPABASE_PROJECT_ID=acapurizimtptybtjcbe

# Mercado Pago
MERCADOPAGO_PUBLIC_KEY=APP_USR-d74250de-58cc-4c7f-9ac3-371dba00380d
MERCADOPAGO_ACCESS_TOKEN=tu_access_token_aqui
